.layout {
  min-height: 100vh;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  background: #001529;
}
